@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: 'Quicksand', sans-serif;
}


:root {
    /* Light Theme (default) */
    --bg-primary: #f8fcf7;
    --bg-secondary: #edf2f7;
    --text-primary: #4d4d4d;
    --text-accent: #2b6cb0;
    --border-primary: #e2e8f0;
  
    /* Dark Theme */
    --dark-bg-primary: #1a202c;
    --dark-bg-secondary: #2d3748;
    --dark-text-primary: #ffffff;
    --dark-text-accent: #14c2ab;
    --dark-border-primary: #4a5568;
  }
  
  
.auth-bg {
    @apply bg-gradient-to-r min-h-screen flex justify-center;
}

.auth-container {
    @apply w-full flex flex-col;
}

.auth-h2 {
    @apply text-4xl font-bold  text-blue-600;
}

.auth-p {
    @apply text-gray-700  my-2 font-normal ;
}

.auth-input{
    @apply w-full px-10 py-2 bg-gray-100 border border-gray-200 rounded-lg focus:outline-none 
}

.auth-button{
    @apply w-full py-2 text-white font-semibold rounded-lg 
}
.auth-icon{
    @apply absolute left-3 top-3 text-gray-400
}
.auth-social{
    @apply flex cursor-pointer items-center justify-center border border-gray-300 p-2 rounded-md hover:bg-gray-100
}

.outlet-container{
    @apply m-4
}
.details-container{
    @apply pr-8 m-4
}
.stockList{
    @apply flex text-left gap-1
}
.scrollbar-hidden {
    scrollbar-width: none; 
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none; 
}