@import "tailwindcss";

body {
  font-family: 'Quicksand', sans-serif;
}

:root{
  --dark-bg: #212121;
  --light-bg: #FFFFFF;
  --dark-text: #FEFEFE;
  --light-text: #000000;
  --accent-green: #049C6B;
  --button-bg: #103E63;
  --hover-bg:#082E66;
}
/* Dark and Light Theme styles */
.bg-dark-bg {
    background-color: var(--dark-bg);
}
  
.text-dark-text {
    color: var(--dark-text);
}
  
.bg-light-bg {
    background-color: var(--light-bg);
}
  
.text-light-text {
    color: var(--light-text);
}
    
.text-accent-green {
    color: var(--accent-green);
}
  
.bg-button-bg {
    background-color: var(--button-bg);
}
.border-dark-bg {
  border-color: var(--dark-bg);
}
.hover\:bg-hover-dark:hover {
    background-color: var(--hover-bg);
  }
  .hover\:bg-button-bg:hover {
    background-color: var(--button-bg);
  }
  

.outlet-container{
    @apply mx-6 my-3 max-h-screen
}
.hide-scrollbar::-webkit-scrollbar{
    display: none;
}
.auth-bg {
    @apply bg-gradient-to-r min-h-screen flex justify-center;
}

.auth-container {
    @apply w-full flex flex-col;
}

.auth-h2 {
    @apply text-4xl font-bold  text-blue-600;
}

.auth-p {
    @apply text-gray-700  my-2 font-normal ;
}

.auth-input{
    @apply w-full px-10 py-2 bg-gray-100 border border-gray-200 rounded-lg focus:outline-none 
}

.auth-button{
    @apply w-full py-2 text-white font-semibold rounded-lg 
}
.auth-icon{
    @apply absolute left-3 top-3 text-gray-400
}
.auth-social{
    @apply flex cursor-pointer items-center justify-center border border-gray-300 p-2 rounded-md hover:bg-gray-100
}


.details-container{
    @apply pr-8 m-4
}
.stockList{
    @apply flex text-left gap-1
}
.scrollbar-hidden {
    scrollbar-width: none; 
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none; 
}
.details-bg-dark {
  @apply bg-gray-800 text-white hover:bg-gray-700 px-4 py-2 rounded;
}

.details-bg-light {
  @apply bg-gray-200 hover:bg-gray-100;
}
.header {
    @apply text-2xl font-bold mb-3
}
.paragraph {
    @apply text-lg font-semibold mb-4
}

.input-light{
    background-color: white;
}

.input-dark{
    background-color: rgb(156, 156, 156);
}

/* @keyframes fade-in {
    from { opacity: 0; transform: translateY(-4px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fade-in {
    animation: fade-in 0.2s ease-out;
  } */
  