@import "tailwindcss";


.auth-bg {
    @apply bg-gradient-to-r from-[#e2e2e2] to-[#c9d6ff] min-h-screen flex items-center justify-center;
}

.auth-container {
    @apply w-full max-w-[500px] md:h-[670px] bg-white rounded-xl shadow-xl flex flex-col;
}

.auth-h2 {
    @apply text-4xl font-bold text-center text-gray-600 mt-10;
    font-family: "Poppins", sans-serif;
}

.auth-p {
    @apply text-gray-900 text-center my-4 font-semibold ;
    font-family: "Roboto", sans-serif;
}

.auth-input{
    @apply w-full px-10 py-2 bg-gray-100 border border-gray-200 rounded-lg focus:outline-none 
}

.auth-button{
    @apply w-full py-2 text-white font-semibold rounded-lg 
}
.auth-icon{
    @apply absolute left-3 top-3 text-gray-400
}